<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login with Magic Link</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" type="email">
              <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Invalid email address</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-raised-button color="accent" type="button" href="/login-with-password">
          Login with Password
        </a>
      </mat-card-actions>
    </mat-card>
  </form>